<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>post_list</title>
	
</head>

<body>
    <h1>post_list</h1>
    <h2>{{ object_list|length }} objecten gevonden</h2>
    <ul>
    {% for object in object_list %}
        <li>{{ object }}</li>
    {% endfor %}
    </ul>
</body>
</html>
